.wrapper {
    margin-top: 10px;
}
.inner {
    background-color: #fff;
    padding: 20px;
}
.delivery {
    display: flex;
    margin-bottom: 10px;
}
.delivery-title {
}
.delivery-way {
    font-weight: 600;
    color: #f39801;
    margin-left: 10px;
}
.method-buy {
    display: flex;
}
.method-title {
}
.method-way {
    font-weight: 600;
    color: #f39801;
    margin-left: 10px;
}
.method-text {
}
.product {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #dcd3d3;
    padding-top: 10px;
}
.name {
}
.price {
    display: flex;
    align-items: center;
}
.price-curr {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--current-price-color);
}
.price-sale {
    margin-left: 20px;
    font-size: 1.4rem;
    color: var(--old-price-color);
    text-decoration: line-through;
}
.amount {
    margin-left: 100px;
    font-weight: 600;
    color: #f39801;
}
.img {
    width: auto;
    max-height: 119px;
    object-fit: contain;
}
.card {
    padding: 20px 10px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}
