.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.form-register {
    width: 500px;
    padding: 20px 40px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
.title {
    display: flex;
    justify-content: space-around;
}
.title-register {
    cursor: pointer;
}
.title-register {
}
.form-group {
}
.form-input {
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.form-label {
}
.form-control {
}
.form-group {
    margin: 20px 0;
}
.form-label {
}

.form-control {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}
.btn-register {
    margin: 10px auto;
}

.text-ok {
}
.text-dk {
    color: rgb(55, 55, 235);
}
