.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 200px;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    + .wrapper {
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    display: flex;
}

.login {
    background-color: var(--current-price-color);
    border: 1px solid var(--current-price-color);
    color: #fff;
    justify-content: center;
}
.register {
    background-color: #fff;
    border: 2px solid var(--current-price-color);
    color: var(--current-price-color);
    justify-content: center;
}
.more {
    background-image: linear-gradient(to right, #ff9800, #f7695d);
    border-radius: 25px;
    color: #fff;
    justify-content: center;
}

.outline {
    background-color: #fff;
    border: 1px solid #ff9800;
    color: #ff9800;
    justify-content: center;
}

.facebook {
    color: #fff;
    background-color: #1478fc;
    border: 2px solid #1478fc;
    justify-content: center;
    font-size: 1.4rem;
}
