.option {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 40px;
    cursor: pointer;
}
.table {
    margin-top: 20px;
}
.dropdown {
    margin-top: 10px;
}
