.list-users {
    width: 250px;
}
.user-items {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.loggin {
    margin-bottom: 10px;
}
.icon-fa {
    font-size: 1.4rem;
}
.list-btn-user {
    display: flex;
    &:hover {
        background-color: #f3f1f1;
    }
}
