.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: 1230px;
}

//product

.list-product {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}
.btn-more {
    display: flex;
    margin: 20px auto;
}
.product-top {
    background-color: #fff;
    padding-bottom: 10px;
}
