.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: 1230px;
}

//product

.list-product {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}
.btn-more {
    display: flex;
    margin: 20px auto;
}
.product-top {
    background-color: #fff;
    padding-bottom: 10px;
    margin-top: 20px;
}
.banner-img {
    display: flex;
    margin: 15px 0;
}
.banner-img-name {
    width: calc(100% / 4 - 5px);
    display: block;
    margin-right: 6px;
}
.type-product {
    padding: 10px 20px;
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
}
.item-type {
    padding: 5px;
    text-align: center;
    width: 10%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 40%;
    }
}
.item-type-name {
    font-size: 1.4rem;
    margin-top: 5px;
}
.top-sp {
    background-color: #fcddef;
    padding: 10px;
}
.category {
    margin-top: 20px;
    display: flex;
    width: 100%;
    padding: 20px 20px 40px;
    background-color: #fff;
}
.item-category {
    width: calc(100% / 9 - 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
.img-category {
    width: 60%;
    margin: 0 auto;
}
.name-category {
    line-height: 1.4em;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 2.8em;
    max-height: 2.8em;
    margin-top: 16px;
    font-size: 1.4rem;
    text-align: center;
}
