.banner {
    display: flex;
    padding-top: 10px;
    position: relative !important;
}
.big-banner {
    padding-top: 3px;
    padding-right: 5px;
    img {
        border-radius: 10px;
    }
}
.small-banner {
    img {
        padding: 2.5px;
        border-radius: 10px;
    }
}
.btn-next {
    padding: 4px;
    position: absolute;
    border-radius: 999px;
    z-index: 1;
    margin-left: 40px;
    right: 0px;
    bottom: 46%;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0px 2px 8px #00000029;
    background-color: #fff;
    &:hover {
        font-size: 1.4rem;
    }
}
.btn-prev {
    padding: 4px;
    border-radius: 999px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 46%;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 8px #00000029;
    &:hover {
        font-size: 1.4rem;
    }
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
    border-radius: 10px;
}
