.wrapper {
    padding: 10px;
}

.btn-add {
    height: 100px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.btn-add:hover {
    border: 1px solid #c92127;
}
.icon-add {
    font-size: 4rem;
}
.wrapper {
    padding: 10px;
}

.btn-add {
    height: 100px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.btn-add:hover {
    border: 1px solid #c92127;
}
.icon-add {
    font-size: 4rem;
}

.btn-save {
    margin: 0 auto;
    width: 50px !important;
}
.ant-upload-list-item.ant-upload-list-item-error {
    display: none;
}
.form-input-avatar {
    flex: 3;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-avatar {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.form-group {
    display: flex;
    align-items: center;
}
.form-input {
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    flex: 3;
}
.form-label {
    margin-right: 10px;
    flex: 1;
}
.form-control {
    width: 100%;
    flex: 1;
}
.form-group {
    margin: 20px 0;
}
.form-label {
}

.form-control {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}
.btn-register {
    margin: 10px auto;
}

.text-ok {
}
.text-dk {
    color: rgb(55, 55, 235);
}
